body {
	width: 1920px;
	height: auto;
	overflow-x: hidden;

	background: #00F260;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	font-family: Arial;
}

#main-container {
	width: 1880px;
	height: auto;
	position: relative;

	align-content: auto;
	justify-content: auto;
}

#signup-text {
	width: 800px;
	position: relative;


	padding: 10px;
	margin-left: 28%;

	background-color: rgba(181, 181, 181, 0.5);

	border-radius: 4px;

	text-align: center;
}

/*------------------------------------------------------------------------------*/