body {
	font-family: Arial;
	width: 1920px;
	height: auto;
	overflow-x: hidden;


	background: #3494E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-container {
	width: 1880px;
	height: auto;

	position: flex;
	align-content: auto;
	justify-content: auto;
	
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#select {
	text-align: center;

	border-width: 1px;
	border-style: solid;
	border-color: black;

	padding: 10px;
	margin-left: 200px;
	margin-right: 200px;

	background-color: rgba(181, 181, 181, 0.5);

}

#game1 {
	margin-left: 400px;
}

#game1:hover {
	opacity: 0.5;
}

#image-container1{
	border-width: 1px;
	border-style: solid;
	border-color: black;

	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	padding: 4px;

	position: flex;

}

#image-container2{
	border-width: 1px;
	border-style: solid;
	border-color: black;

	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	padding: 4px;

	position: flex;
}

#image-container3{
	border-width: 1px;
	border-style: solid;
	border-color: black;

	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	padding: 4px;

	position: flex;
}

#image-container4{
	border-width: 1px;
	border-style: solid;
	border-color: black;

	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	padding: 4px;

	position: flex;
}

#image-container5{
	border-width: 1px;
	border-style: solid;
	border-color: black;

	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	padding: 4px;

	position: flex;
}

#text-over {
	position: static;
	text-align: center;
}